@model Laboratorium_3.Models.ProductModel

@{
    ViewData["Title"] = "Dodaj Produkt";
}

<h2>Dodaj Produkt</h2>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Nazwa"></label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cena"></label>
        <input asp-for="Cena" class="form-control" />
        <span asp-validation-for="Cena" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Producent"></label>
        <input asp-for="Producent" class="form-control" />
        <span asp-validation-for="Producent" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataProdukcji"></label>
        <input asp-for="DataProdukcji" type="date" class="form-control" />
        <span asp-validation-for="DataProdukcji" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Opis"></label>
        <textarea asp-for="Opis" class="form-control"></textarea>
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj Produkt</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}